.form
{
		/*background: url("img/img2.jpg") no-repeat;*/
                width: 60%;
		background-size: cover;
		font-size: 20px;
		color: #555;
		margin-top: 10%;
		padding:5%;
                padding-bottom: 3%;
}
.input.input-text
{
	width: 65%;
	margin-left: 10%;
        box-sizing: border-box;
}
.btn.btn-purple
{
	width:80%;
}
.btn[value="Sign Up"]{
    margin-top: 2%;
}
.lbl-forget{
    font-size: 60%;
    color:#a0a;
    float: right;
    margin-top: 2%;
}
.lbl-forget:hover
{
    
}
